.step-progress {
  margin: 15px;
  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
  }
}
.step-progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .line {
    height: 2px;
    width: 60px;
    background-color: #222831;
  }
  
  .step-progress-bar-item {
    display: flex;
    align-items: center;
    gap: 0px 10px;
    .circle {
      width: 24px;
      height: 24px;
      border: 1px solid hsl(216, 19%, 16%);;
      border-radius: 50%;
      color: hsl(216, 18%, 16%);
      line-height: 24px;
      font-size: 0.8rem;
      text-align: center;
      &.active, &.done {
       background-color: #222831;
       color: #fafafa;
      }
      // &.done::after {
      //   content: "\2714";
      // }
    }
  }
}

