.navbar {
  // width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 50px 70px 50px;
  .navLinks {
    display: flex;
    flex: 1;
    a {
      text-decoration: none;
      color: #2A2A2A;
      font-weight: 500;
      margin:0 15px;
    }
  }
  .logo {
    width: 170px;
    img {
      width: 100%;
    }
  }
  .iconLinks {
    flex: 1;
    text-align: end;
    i {
      font-size: 1.5rem;
      font-weight: 900;
      margin-left: 30px;
      cursor: pointer;
    }
  }
}

