.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0 50px 50px 50px;
  .logo {
    width: 170px;
    align-self: center;
    img {
      width: 100%;
    }
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .list {
    p {
      margin: 15px 0;
      color: #808080;
      font-size: 0.9rem;
      cursor: pointer;
    }
    .mediaIcons {
      a {
        color: #808080;
        margin: 0 15px 0 0;
        cursor: pointer;
        i {
          font-size: 1.2rem;
        }
      }
    }
  }
}