.app {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}
.left {
  flex: 1;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  gap: 10%;
  height: 800px;
}